.countriesContainer {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0,6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    max-height: fit-content;
}

.imga{

position:fixed;


}


    .cards{
        box-sizing: content-box;
        padding-top: 50px;
        font-size: 26px;
        color: white;  
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 5px;   
        padding-left: 5%;
        padding-bottom: 150px;
        font-size: 32px;
        height: 10%;
        position: absolute;
          top: 110px;
          
    }

    .reset{
        position: absolute;
          top: 90px;
          display: flex;
    justify-content: center;
    left: 35%;
    background-color: rgb(204, 226, 0);
    border-color: rgb(236, 222, 24);
    }

    .reset:hover {
        transform: scale(1);
    opacity: 0.7;
    }

    .flechas{
        color:red
  
    }


    .ACT{
        position: absolute;
          top: 90px;
          display: flex;
    justify-content: center;
    left: 65%;
    background-color: rgb(226, 45, 0);
    border-color: rgb(236, 49, 24);
    }

    .ACT:hover {
        transform: scale(1);
    opacity: 0.7;
    }