
.Background{
    margin-top:0%;
    background-size:cover;
    background-image:url('../media/countrydetails.jpg');
    min-height: 100vh;
    display:flex;
    justify-content: space-around;
        
}


    .Name{
        color:black;
        font-family: 'Antonio', sans-serif;
        font-size: 40px;        
    }

    .ID{
        color:black;
    }

    .Capital{
        color:black;
    }

    .Continent{
        color:black;
    }

    .Subregion{
        color:black;
    }

    .Area{
        color:black;
    }

    .Population{
        color: black;
    }

    .Activities{
        color:black;
    }
    
    .Title{
        font-family: 'Antonio', sans-serif;
        color: black;
    }

    .activities2{
        justify-content: space-around;
        border-radius: 25px;
        width: 420px;
        height: 150px;
        border: 4px solid black;
        backdrop-filter: blur(7px);
        color: rgb(15, 15, 15);
        display: flex;
    
    }